@import "~normalize.css/normalize.css";
@import "variables.scss";

html, body {
  color: $font;
  font-family: Helvetica,Arial,sans-serif;
  font-size: 16px;
  line-height: 1.4;
  background-color: $white;
  overflow-y: scroll;
  direction: ltr;
}
