$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;

$gray-10: #F6FAFD !default;
$gray-30: #EAEEF5 !default;
$gray-50: #D6E2E7 !default;
$gray-70: #7E92A1 !default;
$gray-90: #536377 !default;

$black:   #000 !default;

$navi:    #092C4C !default;
$blue:    #1C85E9 !default;
$green:   #2DC8A8 !default;
$yellow:  #FFC357 !default;
$pink:    #FE7F84 !default;
$cyan:    #17a2b8 !default;

$primary:       $navi !default;
$secondary:     $blue !default;
$success:       $green !default;
$info:          $cyan !default;
$warning:       $yellow !default;
$danger:        $pink !default;
$light:         $gray-100 !default;
$dark:          $gray-800 !default;
$font:          $gray-70 !default;
$headers:       $navi !default;
