ab-colors {
  .row {
    display: flex;
    justify-content: space-between;
    align-content: center;
  }

  .ab-color {
    text-align: center;

    .ab-circle {
      width: 110px;
      height: 110px;
      border-radius: 50%;
    }

    .ab-circle.big {

    }

    .ab-color-name,
    .ab-color-hash {
      display: block;
      margin: 5px 0;
    }

    .ab-color-name {
      margin-top: 1em;
    }
  }
}
