:host {
  background: $secondary;
  border: none;
  border-radius: 7px;
  box-shadow: 0 6px $secondary-darken-20;
  color: $white;
  font-size: 1rem;
  cursor: pointer;
  padding: 25px 80px;
  position: relative;
  text-transform: uppercase;
  display: inline-block;
  font-weight: normal;
  outline: none;
  position: relative;
  overflow: hidden;
}

:host(:hover) {
  cursor: pointer;
  box-shadow: 0 4px $secondary-darken-20;
  top: 2px;
}

:host(:active) {
  cursor: pointer;
  box-shadow: 0 0 #ab3c3c;
  top: 6px;
}
