:host {
  background: $secondary;
  border: none;
  border-radius: 7px;
  box-shadow: 0 6px $secondary-darken-20;
  color: $white;
  font-size: 1rem;
  cursor: pointer;
  padding: 25px 80px;
  position: relative;
  text-transform: uppercase;
  display: inline-block;
  font-weight: normal;
  outline: none;
  position: relative;
  overflow: hidden;
}

:host(:hover) {
  cursor: pointer;
  box-shadow: 0 4px $secondary-darken-20;
  top: 2px;
}

:host(:active) {
  cursor: pointer;
  box-shadow: 0 0 #ab3c3c;
  top: 6px;
}

/* RIPPLE ANIMATION */
:host(.ripple) {
	transition: opacity 0.3s;
	position: relative;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
}

:host(.ripple):before {
	content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  background-image: radial-gradient(circle, rgb(194, 230, 250) 10%, transparent 10.01%);
  background-repeat: no-repeat;
  background-position: 50%;
  transform: scale(10, 10);
  opacity: 0;
  transition: transform .5s, opacity 1s;
}

:host(.ripple:active):before {
  transform: scale(0, 0);
  opacity: 1;
  transition: 0s;
}

// :host(.ripple) .label {
// 	position: relative;
// }

